{% extends 'base.html' %}
{% block title %}Customer Register {% endblock title %}

{% block body %}
 <section class="gradient-custom">
        <div class="container py-3 h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-2 p-md-3 bg-light">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Welcome Customer, Create an Account.</h3>
                  <form action="/customer_register/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
    
                    <div class="row mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="customer_username">Username</label>
                        {% comment %} <input type="text" id="customer_username" name="customer_username" class="form-control"
                          placeholder="Choose a unique username" required/> {% endcomment %}
                          {{form.username}}
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="customer_fname">First Name</label>
                          {% comment %} <input type="text" id="customer_fname" name="customer_fname" class="form-control"
                            placeholder="Enter Your First Name" required/> {% endcomment %}
                            {{form.firstName}}
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="customer_lname">Last Name</label>
                          {% comment %} <input type="text" id="customer_lname" name="customer_lname" class="form-control"
                            placeholder="Enter Your Last Name" required/> {% endcomment %}
                            {{form.lastName}}
                        </div>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="customer_email">Email Address</label>
                          {% comment %} <input type="email" id="customer_email" name="customer_email" class="form-control"
                            placeholder="name@example.com" required/> {% endcomment %}
                            {{form.email}}
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="customer_phone">Phone Number</label>
                          {% comment %} <input type="tel" id="customer_phone" name="customer_phone" class="form-control"
                            placeholder="Enter Your Phone Number" /> {% endcomment %}
                            {{form.phone}}
                        </div>
                      </div>
                    </div>
    
                    <div class="row mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="customer_address">Full Address</label>
                        {% comment %} <input type="text" id="customer_address" name="customer_address" class="form-control"
                          placeholder="Enter Your Full Address" required/> {% endcomment %}
                          {{form.fullAddress}}

                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="customer_pass1">Choose a Password</label>
                          {% comment %} <input type="password" id="customer_pass1" name="customer_pass1" class="form-control"
                            placeholder="Choose Your Password" required/> {% endcomment %}
                            {{form.password1}}
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="customer_pass2">Confirm Password</label>
                          {% comment %} <input type="password" id="customer_pass2" name="customer_pass2" class="form-control"
                            placeholder="Confirm Password" required/> {% endcomment %}
                            {{form.password2}}
                        </div>
                      </div>
                    </div>
    
                    {% comment %} <div class="row">
                      <div class="form-outline">
                        <label class="form-label" for="image">Upload Image</label>
                        <input type="file" name="c_image" id="c_image" /> 
                        
                      </div>
                    </div>
     {% endcomment %}
                   <div class="row">
                      <div class="col-12 pt-1">
                        <input class="btn btn-dark" type="submit" value="Submit" />
                      </div>
                    </div> 
                  </form>
    
                  <div class="row mt-2">
                    <hr />
                    <div class="col-12">
                      <p class="text-center mb-0">Already Have An Account?</p>
                      <p class="text-center"> <a href="/login">Login</a>
                    </div>
                  </div>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
      
    {% endblock body %}